body {
	color: #222;
}

.warning-severe {
	 background-color: #E53935;
}
.warning-severe > .container {
	background-color: #E57373;
}

.warning-medium {
	 background-color: #FFD54F;
}
.warning-medium > .container {
	background-color: #FFF082;
}

.warning-mild {
	 background-color: #BDBDBD;
}
.warning-mild > .container {
	 background-color: #EEE;
}

.container {
	border-radius: 12px;
	padding: 24px;
}

.container > .title {
	background-image: none;
}

.title-text {
	border-bottom: 1px solid #444 !important;
	color: #111;
}

.warning-icons {
	float: right;
}

.warning-icons > * {
	width: 30px;
}

.warning-more-info {
	display: none;
	background-color: rgba(255, 255, 255, 0.65);
	border: 1px rgba(211, 211, 211, 0.75) solid;
	padding: 0 12px 12px 12px;
	box-shadow: 0 0 4px #ddd;
	font-size: 0.9em;
}
